.about-outer-container {
    background-color: white;
    color: black;
    margin-top: 20px;
    margin-bottom: 100px;
    
}

.about-inner-container {
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
}

.first-line {
    font-size: 30px;
    font-weight: bold;
}

.para-content p {
    color: grey;
}

.about-me-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin-top: 25px;
}