.tech-stack {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1fr);
}

.tech-stack>* {
    margin: 10px;
}

.tech-div {
    border: 1px solid black;
    display: flex;
    gap: 5px;
    padding: 20px;
}

.tech-div:hover {
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
     */
     box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: lightblue;
}