
.menu-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-image {
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.nav-link svg {
    width: 25px;
    height: 25px;
}

.nav-link {
    font-weight: bold;
}

.nav-items {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-item {
    margin: 20px;
}

.nav-link {
    cursor: pointer;
}

.nav-link:hover {
    color: white;
}
