.sidebar-section {
    display: flex;
}

.sidebar-display {
    background-color: rgb(86, 83, 83);
    height: 100vh;
    width: 50px;
    position: fixed;
}

.sidebar-hidden {
    width: 160px;
}

.sidebar-toggle-icons {
    display: flex;
    justify-content: right;
    margin-top: 30px;
    margin-right: 1px;
    cursor: pointer;
}

.sidebar-toggle-icons svg {
    color: white;
    background-color: orange;
}