
.project-card-div {
    display: grid;
    grid-template-columns: 2fr 2fr 200px;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project-title {
    font-size: 30px;
    font-weight: bold;
}

.project-stack {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tech {
    border: 1px solid black;
    border-radius: 20px;
    width: 125px;
    padding: 5px;
}

.buttons {
    display: flex;
    gap: 10px;
}